body{
  background-color: rgb(79, 111, 143);
  color:#fff;
}
main{
  width: 300px;
  margin: 50px auto 0;
}
.board{
  display: grid;
  border: 2px solid #fff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.square{
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  box-sizing: border-box;
  font-size: 4rem;
  text-align: center;
}
.result{
  font-size: 2rem;
  padding: 10px;
}
.result.green{
  background-color: #5a5;
  margin-top: 30px;
  font-weight: bolder;
}
.result.red{
  background-color: #a55;
  margin-top: 30px;
  font-weight: bolder;
  
}
.head{
  font-size: 50px;
  margin-left: 15px;
}